
.pokeone{

  height: 50%;
  width: 50%;
}

ion-button{
  --background: #222222;
}

.pokedous{

  height: 50%;
  width: 50%;
}

.poke3{

  height: 50%;
  width: 50%;
}

ion-card{
  --background: #292929;
}

ion-item{
  --background: #9b9b9b;
}

ion-toolbar{
  --background: #303030;
  --color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}